@charset "UFT-8";
body{
    background-color: #acfeb3;
    text-align: center;
    font-family: "fantasy"
}
h1{
    color:rgb(3, 49, 3);
    font-family: "fantasy"
}
p{
    font-size:20px;
}
img{
    width: 200px
}