@charset "UFT-8";
body{
    background-color: #1aad26;
    text-align: center;
    font-family: "ヒラギノ角ゴ ProN W3"
}
h1{
    color:rgb(1, 8, 1);
    font-family: "fantasy"
}
p{
    font-size:20px;
}
img{
    width: 200px
}